faiss-cpu
langchain
openai
python-dotenv
fastapi
jinja2
python-multipart
uvicorn
tiktoken
langchain_community
tesseract-ocr
libtesseract-dev
poppler-utils
unstructured[all-docs]
pydantic
lxml
tiktoken 
opencv-python
nltk
transformers
torch
pillow